@media all and (min-width: 300px) {
    main {
        padding: 10px;
    }
}

@media all and (min-width: 600px) {
    main {
        padding: 15px;
    }
}

@media all and (min-width: 1200px) {
    main {
        padding: 20px;
    }
}