.event-link {
    text-decoration: none;
}

.event-title {
    color: #d43c18;
    margin-bottom: 8px;
    font-size: 1.1rem;
}

.event-separator {
    width: 100%;
    height: 1px;
    margin: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.content-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image-container {
    flex: 1;
    object-fit: cover;
}

.p-16 {
    padding: 16px;
}