.ky-our-team {
    width: 100% !important;
    height: 100%;
}

.ky-our-team-card {
    display: flex;
    flex-direction: column;
    height: inherit !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;
    border-radius: 10px !important;
    padding-bottom: 0 !important;
    margin-top: 10px !important;
}

.ky-our-team-card-media {
    object-fit: cover;
    padding: 10px ;
    border-radius: 20px!important;
}

.ky-our-team-card-name{
    font-weight: 900 !important;
    font-size: 12px !important;
    text-align: center;
}
.ky-our-team-card-designation{
    text-align: center;
    font-size: 10px !important;
}

